:root
	--spc: theme("spacing.1")

	--cBase: #3B82F6
	--cBaseComple: rgb(from var(--cBase) calc(255 - r) calc(255 - g) calc(255 - b))
	--cBaseWhite: theme("colors.gray.100")
	--cBaseBlack: theme("colors.gray.700")
	--cBaseGray: theme("colors.gray.400")

	@media (prefers-color-scheme: light)
		color-scheme: light
		--cMain: var(--cBase)
		--cBack: var(--cBaseWhite)
		--cTextBack: var(--cBaseBlack)
		--cBorderBack: var(--cBaseBlack)

	@media (prefers-color-scheme: dark)
		color-scheme: dark
		--cMain: var(--cBase)
		--cBack: var(--cBaseBlack)
		--cTextBack: var(--cBaseWhite)
		--cBorderBack: var(--cBaseWhite)

	&.color-scheme-dark
		color-scheme: dark
		--cMain: var(--cBase)
		--cBack: var(--cBaseBlack)
		--cTextBack: var(--cBaseWhite)
		--cBorderBack: var(--cBaseWhite)

	--cTextMain: color-contrast(var(--cBase) vs var(--cBaseWhite),var(--cBaseBlack))
	--cTextMainDisabled: var(--cBaseGray)
	--cTextBackDisabled: var(--cBaseGray)


	--cOkay: theme("colors.green.600")
	--cFail: theme("colors.red.600")

	--cSidebarRingFocus: var(--cBaseComple)
	--cSidebarRingNow: var(--cTextMain)


html
	@apply h-full overflow-x-hidden overflow-y-auto
	color: var(--cTextBack)
	background: var(--cBack)
	font-family: 'Cascadia Code', 'Microsoft YaHei'

input
	color: var(--cTextBack)



/** Global Scrollbar Style **/
@-moz-document url-prefix()
	*
		scrollbar-width: thin
		scrollbar-color: color-mix(in srgb, var(--cMain) 50%, var(--cBack) 20%) color-mix(in srgb, var(--cMain) 20%, var(--cBack) 20%)

::-webkit-scrollbar
	@apply w-[var(--widthScroll)] h-[var(--widthScroll)]

::-webkit-scrollbar-corner
	@apply bg-transparent

::-webkit-scrollbar-track:hover
	background-color: color-mix(in srgb, var(--cMain) 20%, var(--cBack) 20%)

::-webkit-scrollbar-thumb
	background: color-mix(in srgb, var(--cMain) 50%, var(--cBack) 20%)

	&:vertical
		border-radius: var(--widthScroll) 0 0 var(--widthScroll)
	&:horizontal
		border-radius: var(--widthScroll) var(--widthScroll) 0 0
	&:hover
		background: color-mix(in srgb, var(--cMain) 80%, var(--cBack) 20%)
	&:active
		@apply bg-[var(--cMain)] border-0 border-solid border-[var(--cBack)]

		&:vertical
			@apply border-r
		&:horizontal
			@apply border-b


/** Global Scrollbar Style (with Main color background) **/
[back-scheme=main]
	*
		scrollbar-color: color-mix(in srgb, var(--cBack) 50%, var(--cMain) 20%) color-mix(in srgb, var(--cBack) 20%, var(--cMain) 20%)

	&::-webkit-scrollbar-track:hover
		background-color: color-mix(in srgb, var(--cBack) 20%, var(--cMain) 20%)

	&::-webkit-scrollbar-thumb
		background: color-mix(in srgb, var(--cBack) 50%, var(--cMain) 20%)

		&:hover
			background: color-mix(in srgb, var(--cBack) 80%, var(--cMain) 20%)
		&:active
			@apply bg-[var(--cBack)] border-[var(--cMain)]
